@font-face {
  font-family: j12;
  src: url(Jacquard_12/Jacquard12-Regular.ttf);
}

@font-face {
  font-family: vt323;
  src: url(VT323/VT323-Regular.ttf);
}

/* css reset  */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root, #__next { isolation: isolate; }

/* font and special style */
:root {
  --primary: #292524;
  --secondary: #fff0df;
  --secondary-light : #fff0df54;
  --ternary: #c7b35a;
  --ternary-light: #c7b35a54;
}

body {
  font-size: 16.5px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: clamp(3rem, 8vw + 1rem, 7.993rem);
}

h2 {
  font-size: clamp(2.5rem, 6vw + 1rem, 5.653rem);
}

h3 {
  font-size: clamp(2rem, 4vw + 1rem, 3.998rem);
}

h4 {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.827rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 1.999rem);
}

h6, p {
  font-size: clamp(1.25rem, 1.5vw + 0.5rem, 1.414rem);
}

/* p { */
/*   font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem); */
/* } */

small {
  font-size: clamp(0.625rem, 0.8vw + 0.3rem, 0.707rem);
}

.it {
  font-style: italic;
}

.center {
  text-align: center;
}

.special {
  color: var(--ternary);
}

a {
  text-decoration: underline;
  color: var(--ternary);
}

a:hover {
  text-decoration: none;
}

.blurred {
  box-shadow: 0 4px 30px rgba(255, 240, 223, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.j12 {
  font-family: "j12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.vt323 {
  font-family: "vt323", monospace;
  font-weight: 400;
  font-style: normal;
}

/* tape style */
.hero {
  /* reminder: height must not be set here to fit the svg element */
  width: 100vw;
  padding: 2rem;
}

#svgGroup {
  fill: var(--secondary);
  stroke: var(--secondary);
}

.container {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
}

.quote {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.quote > h2 {
  text-align: center;
  width: 95vmin;
  margin-top: 1rem;
  border-style: solid;
  border-color: (--secondary);
  border-width: 1px 1px 0;
}

.picture {
  width: 95vmin;
  border-style: solid;
  border-color: (--secondary);
  border-width: 1px;
}

.feature {
  width: 95vmin;
}

.sub {
  border-style: solid;
  border-color: (--secondary);
  border-width: 0 1px 1px;
  padding: 0.5rem;
}

.sub > h3 {
  line-height: 1;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.items > div > svg {
  height: 2rem;
}

.items > div {
  border-left: 1px solid var(--secondary);
  border-bottom: 1px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "vt323", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
  min-height: 10rem;
}

/* even child ignoring the first */
/* the first child is the button row */
.items > div:nth-child(2n+1):not(:first-child) {
  border-right: 1px solid var(--secondary);
}

.items > div:nth-child(2), .items > div:nth-child(3) {
  border-top: 1px solid var(--secondary);
}

/* the button */
.items > div.span-2 {
  grid-column: span 2;
  border: none;
  height: calc(10rem*1.5);
  display: flex;
  flex-direction: row;
}

.items > div.span-2 > a:first-child {
  margin: 0 2rem 0 0;
}

@media (max-width: 768px) {
  .items {
    grid-template-columns: 1fr;
  }
  .items > div {
    border-right: 1px solid var(--secondary);
  }
  .items > div.span-2 {
    grid-column: span 1;
  }
  .items > div:nth-child(3) {
    border-top: none;
  }
}

.footer {
  height: 25rem;
  width: 100vw;
}

.btn {
  height: 3rem;
  width: 8rem;
  display: inline-block;
  outline:0;
  padding: 1px 10px;
  background-color: var(--secondary);
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: 10px 10px var(--ternary-light);
  border-radius: 0px;
}

.btn.disabled {
  text-decoration: line-through;
}

.btn:active {
  background-color: var(--ternary) !important;
  color: black !important;
  box-shadow: none !important;
}

.btn:focus {
  background-color: var(--ternary) !important;
}









