@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Lobster&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: j12;
  src: url(Jacquard_12/Jacquard12-Regular.ttf);
}

@font-face {
  font-family: vt323;
  src: url(VT323/VT323-Regular.ttf);
}

/* css reset  */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
10. Create a root stacking context
*/
#root, #__next { isolation: isolate; }

/* font and special style */
:root {
  --primary: #292524;
  --secondary: #fff0df;
  --secondary-light : #fff0df54;
  --ternary: #c7b35a;
  --ternary-light: #c7b35a54;
}

body {
  font-size: 16.5px;
  /* font-family: "Noto Sans", sans-serif; */
  font-optical-sizing: auto;
  /* font-weight: 700; */
  /* font-style: normal; */
  /* font-variation-settings: "wdth" 100; */
  background-color: var(--secondary);
  color: var(--primary);

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h1 {
  font-size: clamp(3rem, 8vw + 1rem, 7.993rem);
}

h2 {
  font-size: clamp(2.5rem, 6vw + 1rem, 5.653rem);
}

h3 {
  font-size: clamp(2rem, 4vw + 1rem, 3.998rem);
}

h4 {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.827rem);
}

h5, p {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 1.999rem);
}

h6 {
  font-size: clamp(1.25rem, 1.5vw + 0.5rem, 1.414rem);
}

/* p { */
/*   font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem); */
/* } */

small {
  font-size: clamp(0.625rem, 0.8vw + 0.3rem, 0.707rem);
}

.it {
  font-style: italic;
}

.center {
  text-align: center;
}

.special {
  color: var(--ternary);
}

a {
  text-decoration: underline;
  color: var(--ternary);
}

a:hover {
  text-decoration: none;
}

.blurred {
  box-shadow: 0 4px 30px rgba(255, 240, 223, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.j12 {
  font-family: "j12", system-ui;
  font-weight: 400;
  font-style: normal;
}

.vt323 {
  font-family: "vt323", monospace;
  font-weight: 400;
  font-style: normal;
}

/* tape style */
.hero {
  /* reminder: height must not be set here to fit the svg element */
  width: 100vw;
  padding: 2rem;
}

#svgGroup {
  fill: transparent;
  stroke: var(--primary);
}

.container {
  display: flex;
  align-items: center;
  width: 100vw;
  flex-direction: column;
  flex-wrap: nowrap;
}

.quote {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.quote > h2 {
  text-align: center;
  width: 95vmin;
  margin-top: 1rem;
  border-style: solid;
  border-color: (--secondary);
  border-width: 1px 1px 0;
}

.picture {
  opacity: 0;
  width: 95vmin;
}

.picture > img {
  border-radius: 0.75rem;
}

.feature {
  width: 95vmin; /*feat the img size*/
}

.section {
  margin: 4rem 0;
}

.section > h3 {
  line-height: 1;
}

.items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.items > div > svg {
  height: 3rem;
}

.items > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "vt323", monospace;
  font-weight: 400;
  font-style: normal;
  padding: 0 2rem 0;
  min-height: 10rem;
  text-align: center;
}

/* the button */
.btns {
  height: fit-content;
  display: flex;
  flex-direction: row;
  font-family: "vt323", monospace;
}

@media (max-width: 350px) {
  .items {
    grid-template-columns: 1fr;
  }
}

.footer {
  width: 95vmin;
}

.btn {
  background: #292524;
  color: #fff0df;
  border-radius: 0.5rem;
  margin: 0 2rem 0 0;
  padding: 0 1rem;
  border: 0;
  box-shadow: 0px 18px 48px 0px rgba(0, 0, 0, 0.12),
    0px 0px 6px 2px rgba(255, 255, 255, 0.06);
}

.btn:hover {
  cursor: pointer;
  box-shadow: none;
}

