/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font */
:root {
  /*--primary: #fff0df;
  --secondary: #292524; */
  --primary: #292524;
  --secondary: #fff0df;
  --ternary: #c7b35a; 
}

body {
  font-size: 16.5px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--primary);
  color: var(--secondary);
}

h1 {
  font-size: clamp(3rem, 8vw + 1rem, 7.993rem);
}

h2 {
  font-size: clamp(2.5rem, 6vw + 1rem, 5.653rem);
}

h3 {
  font-size: clamp(2rem, 4vw + 1rem, 3.998rem);
}

h4 {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.827rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 1.999rem);
}

h6 {
  font-size: clamp(1.25rem, 1.5vw + 0.5rem, 1.414rem);
}

p {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
}

small {
  font-size: clamp(0.625rem, 0.8vw + 0.3rem, 0.707rem);
}

.it {
  font-style: italic;
}

.center {
  text-align: center;
}

.special {
  color: var(--ternary);
}

/* other */
.sub-title {
  margin: 60px 0 0; 
}

.sub-title > p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.blurred {
  box-shadow: 0 4px 30px rgba(255, 240, 223, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

header {
  height: 60px;
  width: calc(100vw - 15px * 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  padding: 15px;
}

header > .link {
  text-decoration: underline;
}

section {
  padding-top: 120px;
  width: 75%;
  margin: 0 auto;
}

@media only screen and (width >= 1400px) {
  section {
    width: 55%;
  }
}

.button-group {
  padding: 60px 0;
}

.screenshot {
  width: 100%;
  display: flex;
  justify-content: center;
}

.screenshot > img {
  width: 100%;
  border-radius: 25px;
}

.features {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.features > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (width > 600px) {
 .features > div {
    width: calc(100%/3);
  } 
}

@media only screen and (width <= 600px) and (width > 400px) {
 .features > div {
    width: calc(100%/2);
  } 
}

@media only screen and (width <= 400px) {
 .features > div {
    width: calc(100%);
  } 
}

.features > div > svg {
  height: 60px;
}

.features > div > h6 {
  width: 100%;
  height: 9rem;
  text-align: center;
  padding-top: 1rem;
}

footer {
  padding: 60px 0;
}

.cta-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  text-decoration: none;
  color: var(--ternary);
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  background-color: var(--primary);
  margin-right: 20px;
}

button:hover {
  box-shadow: 0px 0px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;
}

button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}

footer {
  height: 30vw;
  /*margin-top: -10vw;*/
}

footer > div {
  height: 30vw;
  font-size: 40vw;
  background: linear-gradient(180deg,rgba(199, 179, 90, 1) 0%, rgba(199, 179, 90, 0.19) 53%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  color: transparent;
  font-weight: 900;
  width: 100%;
  text-align: center;
}
