/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Font */
:root {
  --primary: #fff0df;
  --secondary: #292524;
}

body {
  font-size: 16.5px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--primary);
}

h1 {
  font-size: clamp(3rem, 8vw + 1rem, 7.993rem);
}

h2 {
  font-size: clamp(2.5rem, 6vw + 1rem, 5.653rem);
}

h3 {
  font-size: clamp(2rem, 4vw + 1rem, 3.998rem);
}

h4 {
  font-size: clamp(1.75rem, 3vw + 1rem, 2.827rem);
}

h5 {
  font-size: clamp(1.5rem, 2vw + 0.5rem, 1.999rem);
}

h6 {
  font-size: clamp(1.25rem, 1.5vw + 0.5rem, 1.414rem);
}

p {
  font-size: clamp(0.875rem, 1vw + 0.5rem, 1rem);
}

small {
  font-size: clamp(0.625rem, 0.8vw + 0.3rem, 0.707rem);
}

.center {
  text-align: center;
}

/* other */
a {
  text-decoration: none;
  color: inherit;
}

.blurred {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  border: 1px solid transparent;
}

header > .link {
  margin-right: 16px;
  text-decoration: underline;
}

section {
  padding-top: 120px;
  width: 75%;
  margin: 0 auto;
}

.button-group {
  padding: 60px 0;
}



button {
  --button_radius: 0.75em;
  --button_color: var(--primary);
  --button_outline_color: var(--secondary);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

@media screen and (width <= 520px) {
  button {
    margin-top: 2rem;
  }
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  transform: translateY(-0.33em);
}

button:active .button_top {
  transform: translateY(0);
}

.screenshot {
  width: 100%;
  display: flex;
  justify-content: center;
}

.screenshot > img {
  width: 100%;
  border-radius: 25px;
}

.features {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.features > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (width > 600px) {
 .features > div {
    width: calc(100%/3);
  } 
}

@media only screen and (width <= 600px) and (width > 400px) {
 .features > div {
    width: calc(100%/2);
  } 
}

@media only screen and (width <= 400px) {
 .features > div {
    width: calc(100%);
  } 
}

.features > div > svg {
  height: 60px;
}

.features > div > h6 {
  width: 100%;
  height: 9rem;
  text-align: center;
  padding-top: 1rem;
}

footer {
  padding: 60px 0;
}

.cta-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
